Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
l = "lav"

In [ ]:
lst = ['asd',23,0.7,4+7j]

In [ ]:
k=0.42

In [ ]:
m=("micky","mouse")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1'

i - String, ii - String, iii - List, iv - int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [12]:
#(i)

25/5

# / - It is a division operator and always returns a float value.

5.0

In [13]:
#(ii)

33%4

# % - It is modulo operator, which gives remainder as result.

1

In [17]:
#(iii)

5//3

# // - It also helps in division but only gives integer part as output.

1

In [18]:
#(iv)

2**3

# ** - helps in calculating the exponential of one number with another.

8

Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [19]:
l = [1,2,4,0.5,9.0,"lav","korr",5+8j]

for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
4
<class 'int'>
0.5
<class 'float'>
9.0
<class 'float'>
lav
<class 'str'>
korr
<class 'str'>
(5+8j)
<class 'complex'>

Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [35]:
a=int(input())
b=int(input())
c=0

while a%b == 0:
    a=a/b
    c += 1
if a==1:
    print("purely divisible")
    print("Number of times it can be divisible",c)
else:
    print("not divisible")

4096
8
purely divisible
Number of times it can be divisible 4

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [37]:
l= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
lk=[]
lk2=[]

for i in l:
    if i%3==0:
        lk.append(i)
    else:
        lk2.append(i)
        
lk,lk2

([3, 6, 9, 12, 15, 18, 21, 24],
 [1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25])

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

**Mutability** refers to the capability of an object to be changed or modified after its creation.
**Immutability** means, you can’t change the object’s state after you’ve created it.

Mutable Data types - List, Sets, and Dictionary are examples of some mutable data types in Python.

In [48]:
#list

lst = [9,4,"sri"]

lst.append("winnie")

print(lst)

#dict

dict1 = {"rank1":"one","rank2":"two"}
new_dict = dict1

new_dict["rank3"]="three"

print(new_dict)
print(dict1)

#set

my_set = {1, 2, 3}
new_set = my_set
new_set.add(4)
 
print(my_set)   
print(new_set)

[9, 4, 'sri', 'winnie']
{'rank1': 'one', 'rank2': 'two', 'rank3': 'three'}
{'rank1': 'one', 'rank2': 'two', 'rank3': 'three'}
{1, 2, 3, 4}
{1, 2, 3, 4}

Immutable data types - Tuples, String

In [50]:
#tuples

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

#string

message = "Welcome to world !"
message[0] = 'p'
print(message)

TypeError: 'tuple' object does not support item assignment